<div class="sidebar" id="sidebar">
    <div class="logo">
        <i class="fas fa-university"></i>
        <span>Prestige</span>Wealth
    </div>
    <div class="nav-menu">
        <div class="nav-item {% if request.path == '/dashboard/' or request.path == '/' %}active{% endif %}" onclick="window.location.href='{% url 'trade_investment_dashboard' %}'">
            <i class="fas fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </div>
        
        <div class="nav-item {% if request.path == '/deposit/' %}active{% endif %}" onclick="window.location.href='{% url 'deposit_page' %}'">
            <i class="fas fa-wallet"></i>
            <span>Deposit</span>
        </div>

        <div class="nav-item {% if request.path == '/withdraw/' %}active{% endif %}" onclick="window.location.href='{% url 'withdraw_fund' %}'">
            <i class="fas fa-money-bill-wave"></i>
            <span>Withdrawal</span>
        </div>
        
        <div class="nav-item {% if request.path == '/support/' %}active{% endif %}" onclick="window.location.href='{% url 'support_chat' %}'">
            <i class="fas fa-question-circle"></i>
            <span>Support</span>
        </div>
        <div class="nav-item" onclick="window.location.href='{% url 'logout' %}'">
            <i class="fas fa-sign-out-alt"></i>
            <span>Logout</span>
        </div>
    </div>
</div>

<style>
    .nav-item.active {
    background-color: rgba(255, 255, 255, 0.1);
    border-left: 3px solid #4CAF50;
    }

    .nav-item.active i, .nav-item.active span {
        color: #4CAF50;
    }
</style>